PORT=3000
NODE_ENV=development

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=template_service

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

