services:
  redis:
    image: redis:7-alpine
    container_name: api-gateway-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - gateway-network
    command: redis-server --appendonly yes

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: api-gateway-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - gateway-network

volumes:
  redis_data:
  rabbitmq_data:

networks:
  gateway-network:
    driver: bridge

