# Server
PORT=3003

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=notifications.direct
EMAIL_QUEUE=email.queue
PUSH_QUEUE=push.queue
STATUS_QUEUE=gateway.status.queue
STATUS_ROUTING_KEY=notifications.status

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Idempotency
IDEMPOTENCY_TTL_SECONDS=86400

# External Services
USER_SERVICE_URL=http://localhost:3002

# Environment
NODE_ENV=development

